// Override and add customized styles in this file.
//
// You can also create SCSS files in the app/assets/stylesheets/custom/
// folder and they will be loaded automatically.
@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
    @media (min-width: 1280px) { @content; }
}


.top-bar {
    background-color: #ebebeb !important;
}

.public header {
    border: 0 !important;
}
.public > .wrapper > header::after {
    border: 0 !important;
}

.top-bar .menu > li a {
    color: #1A1A1A;
    font-weight: 500;
    text-decoration-line: underline;
    font-size: 16px;
}

.notifications.unread-notifications::after {
    color: red;
}

.subnavigation a {
    font-weight: 500;
    font-size: 20px;
    text-decoration-line: underline;
    color: #1A1A1A;
}

.jumbo {
    background-color: white;
}

.public {
    max-width: 1280px !important;
    margin: 0 auto !important;
}

// Home page
.fdj-header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    & > * {
        box-sizing: border-box;
    }


    h1 {
        font-size: 61px;
        line-height: 70px;
        font-weight: 300;

        strong {
            font-weight: 600;
        }
    }  
}

.participa {
    margin: 46px 0;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        flex-basis: 80%;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
    }

    a {
        flex-basis: 20%;
        display: inline-block;
        padding: 16px 24px;
        background-color: #000;
        color: white;
        max-width: 20%;

        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        text-align: center;
        border: 1px solid black;
        border-radius: 8px;

    }
}

@include for-tablet-landscape-up() {
    .fdj-header {

        flex-direction: row;
        align-items: center;
        flex: 1;
        
        h1 {
            flex-basis: 40%;
        }
        
        img {
            flex-basis: 60%;  
        }    
    }
}
// END Home page


// Registro
.auth-page {
    span.checkbox > a {
        color: #F986AD;
        font-weight: 600;
    }

    form#new_user > p > a {
        color: #F986AD;
        font-weight: 600;
    }

    input.button.expanded {
        background-color: #F986AD;
        border: 1px solid #F986AD;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 600;
    }

}
// END Registro


.public aside a.button.expanded {
    display: none;
}

.public div.search-results-summary {
    background-color: #EBEBEB
}

.public div.wrapper header div#navigation_bar.subnavigation nav ul li a.is-active {
    color: #1A1A1A;
}

// Custom pages
.custom-page {
    h2 {
        padding-top: 20px;
    } 

    h3 {
        padding-top: 15px;
    }
}

#navigation-bar .subnavigation {
    padding-left: 20px !important;
    text-decoration: none;
    font-size: 20px;

}